$primary: rgb(248, 192, 24);

.social-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	border: 2px solid $primary;
	border-radius: 50%;
	color: $primary;
	text-decoration: none;

	&:hover {
		background: $primary;
		color: #fff;
	}
}
