<div class="card">
	<div class="card-top">
		<h5 class="title">
			<span>{{ "{ " }}</span
			>{{ label }}<span>{{ " }" }}</span>
		</h5>
	</div>
	<div class="card-body">
		<img src="{{ imgLink }}" alt="{{ alt }}" />
		<p class="description">
			{{ description }}
		</p>
	</div>
	<div class="card-bottom">
		<app-social-button
			iconType="fas"
			iconName="link"
			link="https://alreadykosh.github.io/Pokedex/"
		></app-social-button>
		<app-social-button
			iconType="fab"
			iconName="github"
			link="https://github.com/AlreadyKosh/Pokedex"
		></app-social-button>
	</div>
</div>
