@import "../../styles/break-points.scss";
@import "../../styles/variables.scss";

.card {
	display: flex;
	width: 100%;
	height: 450px;
	flex-direction: column;
	border: 3px solid $primary;
	border-radius: 30px;
	background-color: $black;
	padding: 15px 20px 15px 20px;

	&.on {
		transform: rotateY(
			180deg
		); // Vira o cartão quando o mouse passa sobre ele
		transition: transform 1s ease-in-out;
	}

	&.off {
		transform: rotateY(
			0deg
		); // Vira o cartão quando o mouse passa sobre ele
		transition: transform 1s ease-in-out;
	}

	.card-front,
	.card-back {
		display: flex;
		flex-direction: column;

		.card-top {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 42px;
			width: 100%;

			.title {
				font-size: 20px;
				span {
					color: $primary;
				}
			}
		}
	}

	.card-front {
		align-items: center;

		&.on {
			flex-direction: column;
			clip-path: inset(0 0 0px 0);
			height: auto;
			opacity: 1;
			transition: 1.5s ease-out;
		}

		&.off {
			opacity: 0;
			height: 0;
			clip-path: inset(0 0 500px 0);
		}

		.card-body {
			height: 294px;
			width: 100%;
			text-align: center;
			margin: 5px 0 20px 0;

			img {
				width: 100%;
				height: 200px;
				border-radius: 20px;
			}

			.description {
				height: 90px;
				margin-top: 10px;
				overflow-y: auto;
			}
		}

		.card-bottom {
			display: flex;
			align-items: center;
			height: 42px;
			width: 100%;
			justify-content: space-between;

			button {
				width: 40px;
				height: 40px;
				border: 2px solid $primary;
				border-radius: 50%;
				background-color: $black;
				color: $white;

				.icon {
					color: $primary;
				}
			}

			.card-icons {
				display: flex;

				.icon {
					color: $primary;
					margin-left: 10px;
				}
			}
		}
	}

	.card-back {
		transform: rotateY(180deg);
		align-items: baseline;

		&.on {
			clip-path: inset(0 0 0px 0);
			height: auto;
			opacity: 1;
			transition: 1.5s ease-out;
		}

		&.off {
			height: 0;
			opacity: 0;
			clip-path: inset(0 0 350px 0);
			transition: 1.5s ease-out;
		}

		.card-body {
			margin: 20px 0;
			height: 294px;

			.link {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 0 0 10px 0;
			}

			p {
				font-size: 15px;
				margin-left: 5px;
			}
		}

		.card-bottom {
			display: flex;
			justify-content: end;
			height: 42px;
			width: 100%;

			.icon {
				color: $primary;
				margin-left: 10px;
			}

			button {
				display: flex;
				align-items: center;
				width: 40px;
				height: 40px;
				border: 2px solid $primary;
				border-radius: 50%;
				background-color: $black;
				color: $white;
			}
		}
	}
}
