<div class="carousel">
	<div class="carousel-container">
		<div
			class="carousel-card"
			*ngFor="let card of visibleCards; let i = index"
			[ngClass]="{ 'custom-margin': card.marginClass }"
		>
			<app-projeto-card
				[imgLink]="card.imgLink"
				[alt]="card.alt"
				[label]="card.label"
				[description]="card.description"
				[icons]="card.icons"
			></app-projeto-card>
		</div>
	</div>
	<div class="buttons">
		<button (click)="prev()" class="prev-btn">
			<fa-icon
				[icon]="['fas', 'arrow-left']"
				size="lg"
				class="icon"
			></fa-icon>
		</button>
		<p>
			<span>{{ "{ " }}</span
			>{{ startIndex + 1 }} of {{ cards.length }}<span>{{ " }" }}</span>
		</p>
		<button (click)="next()" class="next-btn">
			<fa-icon
				[icon]="['fas', 'arrow-right']"
				size="lg"
				class="icon"
			></fa-icon>
		</button>
	</div>
</div>
