@import "../../styles/break-points.scss";
@import "../../styles/variables.scss";

.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;

	.carousel-container {
		display: flex;
		justify-content: center;

		.carousel-card {
			width: 300px;
		}
	}

	.custom-margin {
		margin: 0 50px;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0 0 0;

		.icon,
		span {
			color: $primary;
		}

		.prev-btn,
		.next-btn {
			background-color: transparent;
			color: #fff;
			padding: 10px 10px;
			border: 1px solid $primary;
			border-radius: 50%;
			cursor: pointer;
			z-index: 1;
		}

		.prev-btn {
			left: 10px;
		}

		.next-btn {
			right: 10px;
		}
	}

	@include laptop {
		.carousel-container {
			justify-content: space-between;
		}
	}
}

.rtl-next {
	transform: translateX(-250%);
}

.rtl-prev {
	transform: translateX(100%);
}
