<app-menu-bar></app-menu-bar>
<header class="header" id="home">
	<div class="container">
		<div class="infos">
			<h6 class="subtitle">Olá, eu me chamo</h6>
			<h6 class="title">Douglas Carreira</h6>
			<p class="sub-info">
				E sou um desenvolvedor fullstack, seja bem-vindo ao meu
				portifolio!!
			</p>
			<div class="buttons">
				<app-button></app-button>
				<app-button></app-button>
			</div>

			<div class="socials">
				<app-social-button
					iconName="instagram"
					link="https://www.instagram.com/eusoucarreira/"
				></app-social-button>

				<app-social-button
					iconName="twitter"
					link="https://www.instagram.com/eusoucarreira/"
				></app-social-button>

				<app-social-button
					iconName="github"
					link="https://www.instagram.com/eusoucarreira/"
				></app-social-button>
			</div>
		</div>
		<div class="img-holder">
			<img src="assets/imgs/man.svg" alt="" />
		</div>
	</div>

	<!-- Header-widget -->
	<div class="widget">
		<div class="widget-item">
			<h2>2</h2>
			<p>Livros Publicados</p>
		</div>
		<div class="widget-item">
			<h2>21.5 k</h2>
			<p>Seguidores no Twitter</p>
		</div>
		<div class="widget-item">
			<h2>2.5 k</h2>
			<p>Seguidores na Twitch</p>
		</div>
	</div>
</header>
