@import "../../styles/break-points.scss";
@import "../../styles/variables.scss";

.header {
	height: 94vh;
	min-height: 650px;

	.container {
		height: 100%;
		display: flex;
		padding: 0 15px;
		align-items: center;

		.infos {
			.subtitle {
				color: $white;
				margin-bottom: 0;
				font-size: 25px;
				font-weight: 500;
			}

			.title {
				color: $white;
				margin-bottom: 0px;
				font-size: 74px;
				font-weight: bold;

				span {
					color: $primary;
				}
			}

			.sub-info {
				color: $white;

				margin-top: -5px;
				font-size: 22px;
			}

			.buttons {
				display: inline-block;
				margin-top: 16px;
			}

			.socials {
				display: flex;
				margin-top: 1.5rem;
			}
		}

		.img-header {
			display: none;
		}

		@include desktop {
			.img-header {
				height: 100%;
				align-self: flex-end;
				flex-grow: 1;
				display: flex;
				align-items: flex-end;
				padding-left: 0px;

				img {
					width: 100%;
					max-width: 620px;

					margin-left: auto;
					margin-right: -2rem;
				}
			}
		}
	}
}

.section-about {
	margin-top: 16px;
	padding: 5rem 0;

	.container {
		margin-top: 48px;
		padding: 0 15px;

		.about {
			display: flex;
			flex-direction: column;
			color: $white;
			text-align: center;

			.img-about {
				vertical-align: middle;
				margin-bottom: 1.5rem !important;
				padding: 0.25rem;
				background-color: $primary;
				border: 1px solid $primary;
				border-radius: 0.25rem;
				max-width: 100%;
				height: auto;
			}
			.title {
				font-size: 25px;
				color: $white;

				span {
					color: $primary;
				}
			}

			.subtitle {
				font-size: 15px;
				font-weight: 500;
			}

			.body-text {
				font-size: 15px;
				font-weight: 400;
				margin-bottom: 12px;
			}

			@include desktop {
				flex-direction: row;
			}
		}
	}
}

.section-skills {
	margin-top: 16px;
	padding: 5rem 0;

	.container {
		margin-top: 48px;
		padding: 0 15px;

		.section-title {
			color: $white;
			font-size: 25px;
			margin-bottom: 24px;
			text-align: center;
		}
		.skills-title {
			color: $white;
			font-size: 20px;
			margin-bottom: 15px;
			text-align: center;

			span {
				color: $primary;
			}
		}

		.frontend {
			margin-bottom: 25px;
		}

		.cards {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 10px;
		}
	}
}

.section-projects {
	margin-top: 16px;
	padding: 5rem 0;

	.container {
		margin-top: 48px;
		padding: 0 15px;

		.title {
			color: $white;
			font-size: 25px;
			margin-bottom: 24px;
			text-align: center;
		}

		.description {
			text-align: center;
			margin-bottom: 48px;
		}

		.project-list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 16px;
		}
	}
}
