@import "../../styles/break-points.scss";
@import "../../styles/variables.scss";

.header {
	position: relative;
	height: 100vh;
	min-height: 650px;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-image: url(../../../assets/img/50611_Garoto\ jovem\ de\ cabelos\ loiros\ usando\ oculos\ progr_xl-1024-v1-0.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		z-index: -1;
		opacity: 0.3;
	}

	.container {
		height: 100%;
		display: flex;
		padding: $padding-container;
		align-items: center;

		.infos {
			.subtitle {
				color: $white;
				margin-bottom: 0;
				font-size: 25px;
				font-weight: 500;
			}

			.title {
				color: $white;
				margin-bottom: 0px;
				font-size: 74px;
				font-weight: bold;

				span {
					color: $primary;
					position: relative;
				}

				& span::before {
					content: "";
					animation: header-title 20s infinite,
						clip 20s steps(15) infinite;
					clip-path: inset(0 100% 0 0);
				}

				& span::after {
					content: "";
					position: absolute;
					height: 100%;
					width: calc(100% + 18px);
					border-left: 2px solid $primary;
					right: -15px;
					animation: cursor 0.8s infinite,
						writting 20s steps(15) infinite;
				}
			}

			.sub-info {
				color: $white;
				font-size: 22px;
			}

			.buttons {
				display: inline-block;
				margin-top: 16px;
			}

			.socials {
				display: flex;
				margin-top: 1.5rem;
			}
		}

		.img-header {
			display: none;
		}
	}
}

.section-about {
	margin-top: 16px;
	padding: 5rem 0;

	.container {
		margin-top: 48px;
		padding: $padding-container;

		.about {
			display: flex;
			flex-direction: column;
			color: $white;
			text-align: center;

			.title {
				font-size: 25px;
				color: $white;

				span {
					color: $primary;
				}
			}

			.subtitle {
				font-size: 15px;
				font-weight: 500;
			}

			.body-text {
				font-size: 15px;
				font-weight: 400;
				margin-bottom: 12px;
			}

			@include desktop {
				flex-direction: row;

				.img-about {
					vertical-align: middle;
					margin-bottom: 1.5rem !important;
					padding: 0.25rem;
					background-color: $primary;
					border: 1px solid $primary;
					border-radius: 0.25rem;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

.section-skills {
	margin-top: 16px;
	padding: 5rem 0;

	.container {
		margin-top: 48px;
		padding: $padding-container;

		.section-title {
			color: $white;
			font-size: 25px;
			margin-bottom: 24px;
			text-align: center;
		}

		.frontend,
		.backend {
			margin-bottom: 30px;
		}

		.frontend,
		.backend,
		.databases {
			.skills-title {
				color: $white;
				font-size: 20px;
				margin-bottom: 15px;
				text-align: center;

				span {
					color: $primary;
				}
			}

			.cards {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 10px;
			}
		}
	}
}

.section-projects {
	margin-top: 16px;
	padding: 5rem 0;

	.container {
		margin-top: 48px;
		padding: $padding-container;

		.title {
			color: $white;
			font-size: 25px;
			margin-bottom: 24px;
			text-align: center;
		}

		.description {
			text-align: center;
			margin-bottom: 48px;
		}

		.project-list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 16px;
		}
	}
}

footer {
	margin-top: 16px;
	padding: 5rem 0 2rem 0;

	.container {
		width: 100%;
		margin-top: 48px;
		padding: $padding-container;

		.footer-up {
			display: flex;
			flex-direction: column;
			align-items: center;

			.menu-list {
				display: flex;
				list-style: none;

				.nav-item {
					margin: 20px 7px 15px 20px;
				}
			}

			.menu-logo img {
				width: 100px;
			}
		}

		.footer-down {
			display: flex;
			justify-content: center;

			.copyright {
				font-size: 14px;
			}
		}
	}
}

@include desktop {
	.header {
		.container {
			padding: 0 50px;

			.infos {
				.subtitle {
					color: $white;
					margin-bottom: 0;
					font-size: 25px;
					font-weight: 500;
				}

				.title {
					span {
					}
				}

				.sub-info {
					color: $white;
					font-size: 22px;
				}

				.buttons {
					display: inline-block;
					margin-top: 16px;
				}

				.socials {
					display: flex;
					margin-top: 1.5rem;
				}
			}
		}
	}
}

@keyframes cursor {
	0% {
		border-left: 2px solid transparent;
	}
}
@keyframes clip {
	12.5%,
	18.75%,
	37.5%,
	43.75%,
	62.5%,
	68.75%,
	87.5%,
	93.75% {
		clip-path: inset(0 0 0 0);
	}
	6.25%,
	25%,
	31.25%,
	50%,
	56.25%,
	75%,
	81.25% {
		clip-path: inset(0 100% 0 0);
	}
}
@keyframes writting {
	12.5%,
	18.75%,
	37.5%,
	43.75%,
	62.5%,
	68.75%,
	87.5%,
	93.75% {
		width: 0;
	}
	6.25%,
	25%,
	31.25%,
	50%,
	56.25%,
	75%,
	81.25% {
		width: calc(100% + 18px);
	}
}

@keyframes header-title {
	0%,
	25% {
		content: "Douglas Carreira";
	}
	26%,
	50% {
		content: "Kosh";
	}
	51%,
	75% {
		content: "Koshinho";
	}
	76%,
	100% {
		content: "AlreadyKosh";
	}
}
