@import "../../styles/break-points.scss";

.menu-container {
	z-index: 10;
	display: flex;
	position: fixed;
	align-items: center;
	height: 8vh;
	width: 100%;
	justify-content: space-around;

	button {
		background-color: transparent;
		border: none;
		color: #fff;
	}

	.menu-logo img {
		width: 100px;
	}

	.nav-list.open {
		clip-path: inset(0 0 0px 0);
	}

	.nav-list {
		display: flex;
		list-style: none;
		position: absolute;
		width: 100%;
		top: 8vh;
		height: 35vh;
		background-color: #161616;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		clip-path: inset(0 0 350px 0);
		transition: 0.5s ease-out;

		.nav-item {
			margin-left: 0;

			.nav-link {
				color: #fff;
				text-decoration: none;
				transition: 0.3s;
			}
		}
	}

	@include desktop {
		button {
			display: none;
		}

		.nav-list {
			flex-direction: row;
			top: auto;
			right: auto;
			width: auto;
			height: auto;
			position: static;
			transform: translateX(0);

			.nav-item {
				letter-spacing: 3px;
				margin-left: 32px;
				margin: 0 10px;
				opacity: 1;

				.nav-link:hover {
					opacity: 0.7;
				}
			}
		}
	}
}

.mobile-menu {
	display: none;
}
