<nav class="menu-container">
	<a class="menu-logo" href="#"
		><img src="../../../assets/skc_logo.png" alt=""
	/></a>
	<button (click)="toggleMenu()">Toggle Menu</button>

	<ul [class.open]="isOpen" class="nav-list">
		<li class="nav-item">
			<a class="nav-link" href="#home">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#about">Sobre mim</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#service">Projetos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#portfolio">Portfolio</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#blog">Blog</a>
		</li>
	</ul>
</nav>
