<nav class="menu-container">
	<a class="menu-logo" href="#"
		><img src="../../../assets/skc_logo.png" alt=""
	/></a>
	<button (click)="toggleMenu()">
		<fa-icon [icon]="['fas', 'bars']" size="xl"></fa-icon>
	</button>

	<ul [class.open]="isOpen" class="nav-list">
		<li class="nav-item">
			<a class="nav-link" (click)="scrollToSection('home')">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="scrollToSection('about')">Sobre mim</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="scrollToSection('skills')">Skills</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="scrollToSection('projects')"
				>Projetos</a
			>
		</li>
	</ul>
</nav>
